/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/styles.css ***!
  \******************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/form-field.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************/
.form-field_formfield__tOEIN {
  border: none;
}
.form-field_formfield__tOEIN:active {
  outline: #fcd34d solid 1px;
}
.form-field_formfield__tOEIN:focus-visible {
  outline: #fcd34d solid 1px;
}

/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/button.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.button_danger__2Fo\+c {
  background-color: #be185d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #fdf2f8;
  padding: 0.5rem 1rem;
  border: none;
}

.button_cancel__nXlOJ {
  background-color: #6b7280;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #e5e7eb;
  padding: 0.5rem 1rem;
  border: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./node_modules/@atrilabs/react-component-manifests/src/manifests/styles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/Home.css ***!
  \*************************************************************************************************************************************************************************************************/
.p-Home.Flex1 {
display: flex;
align-items: center;
flex-direction: row-reverse;
justify-content: flex-start;
flex-wrap: nowrap;
row-gap: ;
-moz-column-gap: 60px;
     column-gap: 60px;
padding-right: 80px;
align-self: auto;
padding-top: ;
}
.p-Home.Contact {
overflow: visible;
box-sizing: content-box;
font-size: 20px;
}
.p-Home.Portfolio {
font-size: 20px;
}
.p-Home.About {
word-wrap: normal;
font-size: 20px;
}
.p-Home.Dropdown2 {
font-size: 20px;
box-sizing: content-box;
border-bottom-right-radius: ;
border-right-width: ;
border-bottom-width: ;
align-self: auto;
position: static;
float: none;
}
.p-Home.Image1 {
position: relative;
float: left;
/* right: 250px; */
margin-top: ;
padding-top: ;
margin-left: ;
padding-right: 350px;
align-self: center;
box-sizing: border-box;
}
.p-Home.Link1 {
;
}
.p-Home.Link2 {
align-self: auto;
position: relative;
float: left;
}

